name: Generate Snake Animation

on:
  # Run this action on a schedule (every 6 hours)
  schedule:
    - cron: "0 */6 * * *"
  
  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:

  # Run on every push to the main branch
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          # Your GitHub username
          github_user_name: sanjithms
          
          # The output file for the animation
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
